body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.question {
  margin-bottom: 20px;
}

label {
  margin-left: 10px;
  color: #333;
}

button {
  display: block;
  margin: 20px auto 0;
  padding: 12px 24px;
  background-color: #d30000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #990000;
}

#result {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}

#restartBtn {
  display: none;
  background-color: #20d300;
}

#restartBtn:hover {
  background-color: #189702;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
